.reset-btn {
   cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    background-color: rgb(41, 41, 41);
    color: white;
    font-size: 2rem;
    padding: 16px 30px;
    margin: 2rem auto;
    display: block;
  }
  
  .reset-btn:hover {
    background-color: rgb(69, 69, 69);
  }
  